/********** NAVBAR **********/
nav {
  padding: 10px 30px;
  border-bottom: 1px solid #f0f0f0;
}
nav p {
  font-weight: bold;
  margin: 5px 0;
}

.list {
  padding: 30px;
}

.card-estimate {
  position: relative;
  width: 50vw;
  padding: 10px;
  margin: 10px 0;
  background-color: lightgrey;
}
.trash {
  position: absolute;
  right: 5px;
}

.estimate-page {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(200, 200, 200, 0.2);
  /* z-index: 10; */
}
